@model IEnumerable<server.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site.css">

<h1>Account</h1>

<p>
@*    <a href="create/" title="create new account">
        <button type="submit" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="create new account">
            <i class="mdi mdi-library-plus menu-icon">create new</i>
        </button>
    </a>*@
</p>

    <table id="Table" class="table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OTP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsUsed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
               @* <th>
                    @Html.DisplayNameFor(model => model.ExpiredTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Guid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>*@
               @* <th>Action</th>*@
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OTP)
                </td>
                <td>
                    @if(item.IsUsed == true)
                    {
                        <i class="mdi mdi-checkbox-marked" style="color:lawngreen"></i>
                    }
                    else
                    {
                        <i class="mdi mdi-close-box" style="color:red"></i>
                    }
                </td>
                <td>
                    @if(item.IsActive == true)
                    {
                        <i class="mdi mdi-checkbox-marked" style="color:lawngreen"></i>
                    }
                    else
                    {
                        <i class="mdi mdi-close-box" style="color:red"></i>
                    }
                </td>
               @* <td>
                    @Html.DisplayFor(modelItem => item.ExpiredTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>*@
               @* <td>*@
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@

                       @* <div class="buttonAction">
                            <a asp-action="Edit" asp-route-id="@item.Guid" class="btn btn-xs btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Data Account">
                                <i class="mdi mdi-border-color menu-icon"></i>
                            </a>*@

                          @*  <a asp-action="Details" asp-route-id="@item.Guid" class="btn btn-xs btn-info">
                                <i class="fa fa-info-circle"></i>
                            </a>*@

                            @*<form action="/Account/Delete" method="post" onsubmit="return confirm('Apakah Anda Yakin Ingin menghapus data ini?')" class="d-inline">
                                <input type="hidden" value="@item.Guid" name="guid" />
                                <button type="submit" class="btn btn-xs btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Data Account">
                                    <i class="mdi mdi-delete menu-icon"></i>
                                </button>
                            </form>
                        </div>*@
                @*</td>*@
            </tr>
    }
        </tbody>
    </table>

@section Scripts {
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        $(function () {
            $('#Table').DataTable({
                "dom":
                    "<'row'<'col-md-8'B><'col-md-4'f>>" +
                    "<'row'<'col-sm-12'tr>>" + // Tabel
                    "<'row'<'col-md-5'i><'col-md-3 mt-2 mx-auto'l><'col-md-4'p>>",
                "buttons": [
                    {
                        extend: 'copy',
                        text: 'Salin',
                        className: 'btn btn-primary'
                    },
                    {
                        extend: 'csv',
                        text: 'CSV',
                        className: 'btn btn-secondary'
                    },
                    {
                        extend: 'excel',
                        text: 'Excel',
                        className: 'btn btn-success'
                    },
                    {
                        extend: 'pdf',
                        text: 'PDF',
                        className: 'btn btn-info'
                    },
                    {
                        extend: 'print',
                        text: 'Cetak',
                        className: 'btn btn-warning'
                    },
                    {
                        extend: 'colvis',
                        text: 'Sembunyikan Kolom',
                        className: 'btn btn-dark'
                    }
                ],
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "pageLength": 25
            });
        });


    </script>
}
