@model IEnumerable<Client.ViewModels.Overtimes.RequestOvertimeViewModel>

@{
    ViewData["Title"] = "GetManager";
}

<h1>GetManager</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Guid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartOvertimeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndOvertimeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OvertimeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidOvertime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OvertimeRemaining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Guid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartOvertimeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndOvertimeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeGuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OvertimeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidOvertime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OvertimeRemaining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
