@model IEnumerable<server.Models.Overtime>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="Overtime/Create/">
        <button type="submit" class="btn btn-xs btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Create New Overtime">
            <i class="mdi mdi-library-plus menu-icon">Create New</i>
        </button>
    </a>
</p>
<div class="table-responsive" style="overflow-y: hidden;">
    <table id="Table" class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OvertimeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartOvertimeDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndOvertimeDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaidOvertime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OvertimeRemaining)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeGuid)
                </th>
               @* <th>
                    @Html.DisplayNameFor(model => model.Guid)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OvertimeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartOvertimeDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndOvertimeDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaidOvertime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OvertimeRemaining)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeGuid)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Guid)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td>
                        @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@


                        <div class="buttonAction">
                            <a asp-action="Edit" asp-route-id="@item.Guid" class="btn btn-xs btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Data Overtime">
                                <i class="mdi mdi-border-color menu-icon"></i>
                            </a>

                            @*  <a asp-action="Details" asp-route-id="@item.Guid" class="btn btn-xs btn-info">
                        <i class="fa fa-info-circle"></i>
                        </a>*@

                            <form action="/Overtime/Delete" method="post" onsubmit="return confirm('Apakah Anda Yakin Ingin menghapus data ini?')" class="d-inline">
                                <input type="hidden" value="@item.Guid" name="guid" />
                                <button type="submit" class="btn btn-xs btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Data Overtime">
                                    <i class="mdi mdi-delete menu-icon"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @*<link rel="stylesheet" type="text/css" href="css/site.css">*@
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <!-- ... -->
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        $(function () {
            $('#Table').DataTable({
                dom: "Blfrtip",
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print', 'colvis'
                ]
            });
        });
    </script>
}
