@model IEnumerable<server.Models.Employee>

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="~/css/site.css">

<h1>Employee</h1>

@if (User.IsInRole("Finance") || (User.IsInRole("Manager")))
{
    @*<p>
        <a href="Create/" title="Create New Employee">
            <button type="submit" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Create New Employee">
                <i class="mdi mdi-library-plus menu-icon">Create New</i>
            </button>
        </a>
    </p>*@
}



<table id="Table" class="table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NIK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiringDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ManagerGuid)
            </th>*@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NIK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HiringDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
               @* <td>
                    @Html.DisplayFor(modelItem => item.ManagerGuid)
                </td>*@
                <td>
                    <div class="buttonAction" >
                        <a asp-action="Edit" asp-route-id="@item.Guid" class="btn btn-xs btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Data Employee">
                            <i class="mdi mdi-border-color menu-icon"></i>
                        </a>

                        <form action="/Employee/Delete" method="post" onsubmit="return confirm('Apakah Anda Yakin Ingin menghapus data ini?')" class="d-inline">
                            <input type="hidden" value="@item.Guid" name="guid" />
                            <button type="submit" class="btn btn-xs btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Data Employee">
                                <i class="mdi mdi-delete menu-icon"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</>

@section Scripts {
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        $(function () {
            $('#Table').DataTable({
                "dom":
                    "<'row'<'col-md-8'B><'col-md-4'f>>" +
                    "<'row'<'col-sm-12'tr>>" + // Tabel
                    "<'row'<'col-md-5'i><'col-md-3 mt-2 mx-auto'l><'col-md-4'p>>",
                "buttons": [
                    {
                        extend: 'copy',
                        text: 'Salin',
                        className: 'btn btn-primary'
                    },
                    {
                        extend: 'csv',
                        text: 'CSV',
                        className: 'btn btn-secondary'
                    },
                    {
                        extend: 'excel',
                        text: 'Excel',
                        className: 'btn btn-ubah btn-success'
                    },
                    {
                        extend: 'pdf',
                        text: 'PDF',
                        className: 'btn btn-ubah btn-info'
                    },
                    {
                        extend: 'print',
                        text: 'Cetak',
                        className: 'btn btn-ubah btn-warning'
                    },
                    {
                        extend: 'colvis',
                        text: 'Sembunyikan Kolom',
                        className: 'btn btn-ubah btn-dark'
                    }
                ],
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "pageLength": 25
            });
        });

    </script>
}

