@model IEnumerable<server.Models.AccountRole>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="/AccountRole/Create/">
        <button type="submit" class="btn btn-xs btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Create New Account Role">
            <i class="mdi mdi-library-plus menu-icon">Create New</i>
        </button>
    </a>
</p>

    <table id="Table" class="table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AccountGuid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleGuid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Guid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountGuid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleGuid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                   @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@

                        <div class="buttonAction">
                            <a asp-action="Edit" asp-route-id="@item.Guid" class="btn btn-xs btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Data Account Role" >
                                <i class="mdi mdi-border-color menu-icon"></i>
                            </a>

                            @*  <a asp-action="Details" asp-route-id="@item.Guid" class="btn btn-xs btn-info">
                        <i class="fa fa-info-circle"></i>
                        </a>*@

                            <form action="/AccountRole/Delete" method="post" onsubmit="return confirm('Apakah Anda Yakin Ingin menghapus data ini?')" class="d-inline">
                                <input type="hidden" value="@item.Guid" name="guid" />
                                <button type="submit" class="btn btn-xs btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Data Account Role">
                                    <i class="mdi mdi-delete menu-icon"></i>
                                </button>
                            </form>
                        </div>
                </td>
            </tr>
    }
        </tbody>
    </table>
</>

@section Scripts {
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        $(function () {
            $('#Table').DataTable({
                "dom":
                    "<'row'<'col-md-8'B><'col-md-4'f>>" +
                    "<'row'<'col-sm-12'tr>>" + // Tabel
                    "<'row'<'col-md-5'i><'col-md-3 mt-2 mx-auto'l><'col-md-4'p>>",
                "buttons": [
                    'copy', 'csv', 'excel', 'pdf', 'print', 'colvis'
                ],
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "pageLength": 25
            });
        });
    </script>
}



